<!-- employe-liste.component.html -->

<form (ngSubmit)="updatestat()">
  <label for="mois">Mois:</label>
  <input type="number" id="mois" name="mois" [(ngModel)]="mois" min="1" max="12" required>

  <label for="annee">Année:</label>
  <select id="annee" name="annee" [(ngModel)]="annee" required>
    <option type="number" *ngFor="let year of years" [value]="year">{{ year }}</option>
  </select>

  <button type="submit">Valider</button>
</form>
<br>

<h3>Temps moyen de travail de chaque employé</h3>
<table class="employe-table">
  <thead>
    <tr>
      <th>EMPLOYE</th>
      <th>TEMPS MOYEN</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.nom }} {{ employee.prenom }}</td>
      <td>{{ employee.averageWorkTime }}</td>
      <!-- <td><a routerLink="/statistique/employe/{{employee._id}}">VOIR STATISTIQUE</a></td> -->
    </tr>
  </tbody>
</table>

<h3>Nombre de réservation par jour</h3>
<table class="employe-table">
  <thead>
    <tr>
      <th>Jour</th>
      <th *ngFor="let rendezvous of rendezvousjournalier">{{ rendezvous.jour }}</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td>Nombre</td>
      <td *ngFor="let rendezvous of rendezvousjournalier">{{ rendezvous.count }} </td>
      <!-- <td><a routerLink="/statistique/employe/{{employee._id}}">VOIR STATISTIQUE</a></td> -->
    </tr>
  </tbody>
</table>


<h3>Chiffre d'affaire par Jour</h3>
<table class="employe-table">
  <thead>
    <tr>
      <th>Jour</th>
      <th *ngFor="let chiffreaffaire of chiffreaffairejours">{{ chiffreaffaire.jour }}</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td>Montant</td>
      <td *ngFor="let chiffreaffaire of chiffreaffairejours">{{ chiffreaffaire.chiffreaffaire }} </td>
      <!-- <td><a routerLink="/statistique/employe/{{employee._id}}">VOIR STATISTIQUE</a></td> -->
    </tr>
  </tbody>
</table>


<h3>Chiffre d'affaire par mois</h3>
<table class="employe-table">
  <thead>
    <tr>
      <th>Jour</th>
      <th *ngFor="let chiffreaffaire of chiffreaffairemois">{{ chiffreaffaire.jour }}</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td>Montant</td>
      <td *ngFor="let chiffreaffaire of chiffreaffairemois">{{ chiffreaffaire.chiffreaffaire }} </td>
      <!-- <td><a routerLink="/statistique/employe/{{employee._id}}">VOIR STATISTIQUE</a></td> -->
    </tr>
  </tbody>
</table>


<h3>BENEFICE</h3>
<table class="employe-table">
  <thead>
    <tr>
      <th>Jour</th>
      <th *ngFor="let benefice of benefices">{{ benefice._id }}</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td>Montant</td>
      <td *ngFor="let benefice of benefices">{{ benefice.profit }} </td>
      <!-- <td><a routerLink="/statistique/employe/{{employee._id}}">VOIR STATISTIQUE</a></td> -->
    </tr>
  </tbody>
</table>

