<div><a routerLink="/insert_rendezvous" >Nouveau rendez-vous</a></div>

<div>
  <h2>Liste des rendez-vous</h2>
  <table>
    <thead>
      <tr>
        <th>Client</th>
        <th>Service</th>
        <th>Employé</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rendezvous of rendezvousList">
        <td>{{ rendezvous.client.prenom }}</td>
        <td>{{ rendezvous.service.nom }}</td>
        <td>{{ rendezvous.employee.nom }} {{ rendezvous.employee.prenom }}</td>
        <td>{{ rendezvous.date | date }}</td>
      </tr>
    </tbody>
  </table>
</div>

  