
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Liste des rendez-vous</h2>
      </div>
      <div class="card-body">
        <div class="table-responsive">
        <table class="table">
          <thead class=" text-primary">
            <tr>
              <th>SERVICE</th>
              <th>EMPLOYE</th>
              <th>DATE</th>
            </tr>
          </thead>
          <tbody>
            <!-- You can replace the following static data with your dynamic data -->
            <tr *ngFor="let rendezvous of rendezvousList">
              <!-- <td>{{ rendezvous.client.prenom }}</td> -->
              <td>{{ rendezvous.service.nom }}</td>
              <td>{{ rendezvous.employee.nom }} {{ rendezvous.employee.prenom }}</td>
              <td>{{ rendezvous.date | date }}</td>
              <td><button class="btn btn-success">PAYER</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
</div>
