
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
          <h2 class="card-title mb-0">Liste des rendez-vous</h2>
          <div class="text-end">
            Prochain rendez-vous:  <span class="text-warning">{{ prochainRendezvous.date | date }}</span>
          </div>
        </div>
      </div>
      


      <div class="card-body">
        <div class="table-responsive">
        <table class="table">
          <thead class=" text-primary">
            <tr>
              <th>SERVICE</th>
              <th>EMPLOYE</th>
              <th>DATE</th>
            </tr>
          </thead>
          <tbody>
            <!-- You can replace the following static data with your dynamic data -->
            <tr *ngFor="let rendezvous of rendezvousList">
              <!-- <td>{{ rendezvous.client.prenom }}</td> -->
              <td>{{ rendezvous.service.nom }}</td>
              <td>{{ rendezvous.employee.nom }} {{ rendezvous.employee.prenom }}</td>
              <td>{{ rendezvous.date | date }}</td>
              <td>
                <ng-container *ngIf="rendezvous.date_payement; else payerButton">
                  <span class="text-success">Payé</span>
                </ng-container>
                <ng-template #payerButton>
                  <button (click)="payerRendezvous(rendezvous._id)" class="btn btn-warning">PAYER</button>
                </ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
</div>
