<form (ngSubmit)="submitForm()" #inscriptionForm="ngForm">
    <label>Nom:</label>
    <input type="text" name="nom" [(ngModel)]="inscription.nom" required>
  
    <label>Prénom:</label>
    <input type="text" name="prenom" [(ngModel)]="inscription.prenom" required>
  
    <label>Date de naissance:</label>
    <input type="date" name="dateNaissance" [(ngModel)]="inscription.dateNaissance" required>
  
    <label>Numéro de téléphone:</label>
    <input type="tel" name="numeroTelephone" [(ngModel)]="inscription.numeroTelephone" required>
  
    <label>Profil:</label>
    <select name="profil" [(ngModel)]="inscription.profil" required>
      <option value="manager">Manager</option>
      <option value="employe">Employé</option>
      <option value="client">Client</option>
    </select>
  
    <label>Email:</label>
    <input type="email" name="email" [(ngModel)]="inscription.email" required>
  
    <label>Mot de passe:</label>
    <input type="password" name="motDePasse" [(ngModel)]="inscription.motDePasse" required>
  
    <button type="submit" [disabled]="inscriptionForm.invalid">S'inscrire</button>
  </form>
  
